@import "tailwindcss";
@plugin "daisyui"{
    themes: cupcake, dark, light, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter;
}


/* Custom Scrollbar */
/* For Webkit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--b2));
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--p) / 0.7);
  border-radius: 4px;
  transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--p));
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--p) / 0.7) hsl(var(--b2));
}

*:hover {
  scrollbar-color: hsl(var(--p)) hsl(var(--b2));
}
